@{
  Layout = "_Layout";
}

<h1>Dr. Sneuss' Factory Managment System</h1>
<hr/>

<button>@Html.ActionLink("Jump To Engineers", "Index", "Engineers")</button>
<button>@Html.ActionLink("Jump To Machines", "Index", "Machines")</button>